@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #05050f; /* The new deep midnight blue */
  color: white;
  overflow-x: hidden;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}